// Main Colors
$main-bg: #222;
$second-bg: #333;
$primary: cyan;

// Button Colors
$inactive-bg: #444;
$hover-bg: #383838;
$active-bg: #333;
$border-color: #e0e0e0;

// Checkbox Colors
$custom-unchecked: red;
$custom-checked: #4caf50;